*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 100%;
}
h1 {
  font-size: 2.6em;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 2em;
  font-weight: 500;
  color: #000000;
}

h3 {
  font-size: 1.5em;
  color: #676867;
}
/* Navigation Section */
.top {
  background-color: #22367D;
}

.nav {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 8%;
  border-color: none;
}

.main-stop {
  position: absolute;
  left: 10%;
  color: white;
  width: 80%;
  text-align: center;
}

.back {
  position: absolute;
  top: 48%;
  left: 2.1%;
  float: left;
  width: 4%;
}

.back-text {
  position: absolute;
  left: 7.2%;
  color: white;
  font-size: 2.6em;
  width: 16%;
  float: left;
  padding-left: 2%;
  letter-spacing: 0.05em;
}

.input-section {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
  display: inline-block;

}

.search {
  display: inline-block;
  width: 95.8%;
  font-size: 2.6em;
  border-radius: 15px 15px 15px 15px;
  padding: 1%;
}

.eastbound, .northbound, .southbound, .reroute, .out-of-service {
  display: inline-block;
  width: 100%;
}

.eastbound-title, .northbound-title, .southbound-title, .reroute-title, .out-of-service-title {
  width: 100%;
  font-size: 1em;
  padding-top: 4.27%;
  padding-left: 4.27%;
  padding-bottom: 2%;
}

.eastbound-list, .northbound-list, .southbound-list, .reroute-list, .out-of-service-list {
  width: 100%;
  display: inline-block;
}

.destination {
  display: inline-block;
  width: 47%;
  margin-bottom: 2%;
}

.time {
  width: 47%;
  display: inline-block;
  float: right;
  text-align: right;
  margin-bottom: 2%;
}

.bus-data {
  position: relative;
  top: 50%;
  width: 100%;
  margin-top: 0%;
}

.line {
  border-bottom: 1px solid #7A7A7A;
  margin-left: 4.27%;
  margin-right: 4.27%;
  margin-top: 2%;
}

.map {
  margin: none;
  top: 19.7%;
  width: 100%;
}

.map-section {
  display: inline-block;
  position: relative;
}
.status {
  position: absolute;
  top: 0%;
  width: 100%;
}

.map-icons {
  position: absolute;
  width: 60%;
  top: 25%;
  left: 26%;
}
